snippet vd
	var_dump(${1});
snippet vdd
	var_dump(${1}); die();
snippet if
	if (${1})
	{
		${2}
	}
snippet for
	foreach (${1})
	{
		${2}
	}
snippet r
	return ${1}
snippet pu
	public function ${1:name}(${2})
	{
		${3}
	}
snippet pri
	private function ${1:name}(${2})
	{
		${3}
	}
snippet pro
	protected function ${1:name}(${2})
	{
		${3}
	}
snippet /**
	/**
	 * ${1}
	 */
